<!-- ---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
</Layout> -->


---
title: "Mon CV - Accueil"
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>Mon CV - Accueil</title>
  </head>
  <body>
    <h1>Bienvenue sur mon CV en ligne</h1>
    <p>Ici, tu peux présenter ton parcours, tes compétences, et bien plus.</p>
  </body>
</html>